
##############################################
#                                            #
#  Config file for Bayesian                  #
#                                            #
##############################################


	
##########################################
# input/output
##########################################

# This contains the data spectrum which will be analysed
inputFileName /cluster/warehouse/kpachal/DijetISR/Resolved2017/LimitSetting/inputs/unblinded_data/dijetgamma_compound_trigger_ystar0p75_unblinding_nbtag2.root

#inputHistDir Nominal/

dataHist background_mjj_var

outputFileName /cluster/warehouse/kpachal/DijetISR/Resolved2017/LimitSetting/BayesianFramework/results/search_official_results/SearchPhase_dijetgamma_compound_trigger_nbtag2p.root

##########################################
# general
##########################################

# Center-of-mass energy of the spectrum studied
# Value overwritten if use Run_SearchPhase.py
Ecm        13000.0 

# Number of pseudoexperiments to run
# in BumpHunter
# Matches 8 TeV paper value
nPseudoExp  10000

permitWindow	true
##########################################
# fitting
##########################################

# To use min of data put -1 (Use 1099 so fit starts from bin above, i.e. from 1100 GeV)
minXForFit 320

# use default: maximum of data
maxXForFit 1201

# Number of pseudoexperiments
# to run in fit
nPseudoExpFit    100

# 13 TeV 3 param fit function:
functionCode 9
nParameters 3

# For Period D 80.4/pb
parameter1 2.54598e-08
parameter2 -35.568
parameter3 3.36672

# Five par was worst succeeding
doAlternateFunction     true
alternateFunctionCode  7
alternateNParameters  5

# These pars were used for unblinding
altparameter1 10.1845
altparameter2 20.1346
altparameter3 -2.8793
altparameter4 -1.84196
altparameter5 -0.207425

# SWIFT
doSwift                 true
doExtraSwiftChecks       true
doExtraPreliminaryFits  false
swift_minXAvailable 320
swift_maxXAvailable 2216.0
swift_nBinsLeft 23
swift_nBinsRight 23
swift_fixLow  true
swift_fixHigh  true
swift_truncateHigh       false

doPValWithSysts		false

doPEOnData              true

doSideBandFit		false
